@model IEnumerable<KovalevsheroMVC.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<!-- MAIN CONTENT-->
        <div class="main-content">
            <h1 align="center">Companies List</h1>
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row m-t-30">
                        <div class="col-md-12">
                            <!-- DATA TABLE-->
                            <div class="table-responsive m-b-40">
                                <p>
                                    <a asp-action="Create">Create New</a>
                                </p>

                                <form asp-controller="Companies" asp-action="Index">
                                    <p>
                                        Search by Name: <input type="text" name="SearchString">
                                        <input type="submit" value="Search" />
                                    </p>
                                    <br />
                                </form>

                                <table class="table table-borderless table-data3">
                                    <thead>
                                        <tr align="center">
                                            <th>
                                                @Html.DisplayNameFor(model => model.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Address)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                         {
                                            <tr align="center">
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Address)
                                                </td>
                                                <td>
                                                    <a asp-action="Edit" asp-route-id="@item.CompanyID">Edit</a> |
                                                    <a asp-action="Details" asp-route-id="@item.CompanyID">Details</a> |
                                                    <a asp-action="Delete" asp-route-id="@item.CompanyID">Delete</a>
                                                </td>
                                            </tr>
                                         }
                                    </tbody>
                                </table>
                            </div>
                            <!-- END DATA TABLE-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
