@model IEnumerable<HelloRadyaWebMVC.Models.EmployeeViewModel>
@{
    ViewData["Title"] = "Employee";
}

    <form method="post">
        <input type="text" name="keyword" value="@ViewBag.Keyword" />
        <select name="employeePosition" asp-items="@ViewBag.PositionOption"></select>
        <button type="submit">Terapkan</button>
    </form>
    @Html.ActionLink("Add new employee", "Add")

<table>
    <tr>
        <td>No</td>
        <td>Nama</td>
        <td>Posisi</td>
        <td>Aksi</td>
    </tr>
    @{ 
int i = 0;
        foreach(var item in ViewData["EmployeeList"] as IEnumerable<HelloRadyaWebMVC.Models.EmployeeViewModel>)
        {
            <tr>
                <td>@(i+1)</td>
                <td>@item.Name</td>
                <td>@item.Position.</td>
                <td><a href="/Employee/Detail/@item.Id">Detail</a>
                <a href="#">Edit</a>
                    <a href="#">Hapus</a></td>
            </tr>
        }
    }
</table>